* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
}

header,
footer {
    width: 100%;
    height: 175px;
    background-color: aquamarine;
    clear: both;
}

.sec-1,
.sec-2,
.sec-3,
.sec-4 {
    width: 20%;
    height: 600px;
    float: left;
}

.sec-1 {
    background: red;
}

.sec-2 {
    width: 40%;
    background: blue;
}

.sec-3 {
    background: yellowgreen;
}

.sec-4 {
    background: goldenrod;
}
